OpenCC
Pillow
Pyrogram
TgCrypto
ffmpeg-python
youtube-dl
wget



py-youtube
TgCrypto
Pyrogram


Pyrogram==1.2.9
TgCrypto==1.2.2
youtube_dl
youtube_search_python
youtube_search
requests
ffmpeg-python
motor
aiofiles
dnspython
pymongo
lyricsgenius
wget
yt_dlp
yt_dlp
audio_file
ytmusic
